/* UPDATED STYLESHEET 2017 TO BE USED FOR ALL FUTURE CSS 
FRONT END */
@import('variables');
/* RESPONSIVE UTILITIES */
.hidden-xs{
  display: inherit;
  @media screen and (max-width: $break-small) {
    display: none;
  }
}
.hidden-sm{
  display: inherit;
  @media screen and (max-width: $break-medium) {
    display: none;
  }
}
.hidden-md{
  display: inherit;
  @media screen and (max-width: $break-large) {
    display: none;
  }
}
.hidden-lg{
  display: inherit;
  @media screen and (min-width: $break-large) {
    display: none;
  }
}
.hidden-xl{ 
  display: inherit;
  @media screen and (min-width: $break-xl) {
    display: none;
  }
}
.text-center{
  text-align: center;
}
/* HEADER */
#masthead{
  background-color: $white;

  .primary-menu-toggle{
    color: $red1;
  }  

  .nav-menu-primary li a, .nav-menu-primary ul li a{
    color: $red1;
  }
}

a.button{
  @extend .typography-button;
  background-color: $red1;
  color: $white;
  display: block;
  margin-bottom: 1em;
  border-radius: $radius;


  @media screen and (min-width: $break-medium) {
    display: inline-block;
  }

}
/* PAGINATION */

/* .paginationDiv { border: 1px solid #ccc; border-left: none; border-right: none; padding: 1rem; }
    .paginationDiv a, .paginationDiv span { display: inline-block; padding: 5px 10px; }
    .paginationDiv a.active, .paginationDiv span.current { background: #900; color: #fff; float: left;}
    */
.paginationDiv{
  padding: 2em 0; 

  a{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid $gray1; 
    background-color: $white;
    margin-right: -1px;
    
    &:hover, &.active{
      background-color: $red1;
      color: $white;
    }
  }
}
  
  

/* STRUCTURE */
.footer-social{
  a{
    color: $gray1;

    &:hover{
      color: $white !important;
    }
  }
}

/* The switch - the box around the slider */
.switch, .checkbox-slider--b label{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;

  /* Hide default HTML checkbox */
 input {display:none;}

 span{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $red1;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 28px;

  &:before {
    position: absolute;
    content: "";
    height: $toggle-input-height;
    width: $toggle-input-height;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
 }

 input:checked + span {
  background-color: $green1;
}

input:focus + span {
  box-shadow: 0 0 1px $green1;
}

input:checked + span:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

}



/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $red1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: $toggle-input-height;
  width: $toggle-input-height;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $green1;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

/* PAID MEMBERSHIP PRO */
.pmpro_box {
  margin-bottom: 2em;
}

.pmpro_box table{
  background-color: $white;
  th{
    font-weight: 700;
    background-color: $gray1b;
    padding: 10px;
  }
  td{
    padding: 10px;
    vertical-align: top;

    .pmpro_actionlinks{
      border-top: 1px solid $gray2;
    }
  }
}
.pmpro_actionlinks{
  padding-top: 1em;
  margin-top: 1em;
}
.pmpro_actionlinks a{
  @extend .typography-button;
  background-color: $red1;
  color: $white;
  margin-bottom: 1em;
  border-radius: $radius;
  padding: 7px 15px;
}

.pmpro_box > h3{
  position: relative;
  padding: 0 0 8px;
  text-align: left;
  text-transform: none;
  margin: 0 0 15px;
  display: block;
  border-bottom: 1px solid #fff;
  overflow: visible;

  &:before{
    position: absolute;
    width: 54px;
    bottom: -1px;
    left: 0;
    content: '';
    height: 1px;
    background: #983421;
  }
}

/**** MODALS ****/
.modal-body {
    background: $lightGray;
}

.modal-dialog .absolutely_free_popup.pop-eye{
  h3{ margin-top: 0; padding-top: 0; text-align: left;}
}
.modal-dialog .absolutely_free_popup .popup_logo {padding-left: 25px; width: 150px; margin-top: -10px;}

/* PAGE SPECIFIC */

.jobdetail_list {
  h4{text-transform: none; font-size: 20px; color: $red1; margin:0; padding: 12px 0;}  

  ul{list-style-type: disc; padding-left: 28px; margin-bottom: 30px;}

}


.page-id-2330 ul.logos{
  list-style:none; padding:0; margin:0;

  li{
    display:inline; padding-right:.5em;

    img{height:95px; width:auto;}
  }
}

.page-id-2666 .small-block-grid-1 li{background-repeat:no-repeat; background-size:128px; background-position: center top; padding-top:128px; }
.page-id-2666 .small-block-grid-1 li#chu{background-image:url(../../images/icon-chu.png);}
.page-id-2666 .small-block-grid-1 li#gi{background-image:url(../../images/icon-gi.png);}
.page-id-2666 .small-block-grid-1 li#jin{background-image:url(../../images/icon-jin.png);}
.page-id-2666 .small-block-grid-1 li#makoto{background-image:url(../../images/icon-makoto.png);}
.page-id-2666 .small-block-grid-1 li#meiyo{background-image:url(../../images/icon-meiyo.png);}
.page-id-2666 .small-block-grid-1 li#rei{background-image:url(../../images/icon-rei.png);}
.page-id-2666 .small-block-grid-1 li#yu{background-image:url(../../images/icon-yu.png);}

/* WOOCOMMERCE */
.woocommerce {
  
  div.product, #container{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 2em;
  }
  
  div.product .woocommerce-tabs ul.tabs{
    margin-bottom: 0;
  }
  
  div.product .woocommerce-tabs .panel{
    padding: 2em;
    border: 1px solid #d3ced2;
  }
  
  .woocommerce-message{
    margin-top: 2em !important;
  }
  
  
  .entry-content p.woocommerce-thankyou-order-received{
    font-family: 'Rokkitt', serif !important;
    text-transform: uppercase;
    color: #a12641;
    font-size: 24px;
  }
  
  ul.products li.product {
  
    h3 {
      padding: .5em;
      margin: 0;
      font-size: 2em;
      text-align: center;
    }
    
    .price del {
      color: inherit;
      opacity: .5;
      display: block;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      font-size: .7em;
      
      .woocommerce-Price-amount {
        text-decoration: line-through;
      }
    }
    
    a img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
        margin-bottom: 0;
        box-shadow: none;
    }
    .woocommerce-Price-amount {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      display: block;
    }
    .timeVal {
      margin-top: -45px;
      color: #ccc;
      margin-bottom: 30px;
      position: relative;
    }
  }

  
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
  .woocommerce-checkout.woocommerce-page .col2-set .col-1,
  .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2,
  .woocommerce-checkout.woocommerce-page .col2-set .col-2 {
    float: none !important;
    width: 100% !important;
}

/* DEV TEMPORARY HIDE CREATE ACCOUNT FROM CHECKOUT */
.woocommerce form .form-row .input-checkbox#createaccount,
createaccount, .woocommerce label[for=createaccount]{
  display: none !important;
}

/* WOOCOMMERCE CATEGORY PAGE */
.tax-product_cat{
  
  #content .page-title{
    display: none;
  }
  
  .blog_sidebar{
    display: none;
  }
  
}


