/* EMPLOYER VERTICAL RELATED CSS */
/* COLORS */
/* light */
/* medium */
/* dark */
/* TYPOPGRAHY */
.typography-header {
  font-family: "Rokkitt", serif;
  text-transform: uppercase;
}
/* SWATCHES */
.swatch1, .employer-v3 {
  background-color: #fff;
  color: #787878;
}
.swatch1 p, .employer-v3 p {
  color: #787878;
}
.swatch1 h1, .employer-v3 h1, .swatch1 h2, .employer-v3 h2, .swatch1 h3, .employer-v3 h3, .swatch1 h4, .employer-v3 h4, .swatch1 h5, .employer-v3 h5, .swatch1 h6, .employer-v3 h6 {
  color: #a12641;
}
.swatch2 {
  background-color: #24262b;
  color: #fff;
}
.swatch2 p {
  color: #fff;
}
.swatch2 h1, .swatch2 h2, .swatch2 h3, .swatch2 h4, .swatch2 h5, .swatch2 h6 {
  color: #fff;
}
